/* Nav */

.nav {
  background-color: #f7f7f7;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 5rem;
  background-color: #ee204d;
}

.nav__links a:link,
.nav__links a:visited {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  color: #f7f7f7;
}

.nav__links li:not(:first-child) {
  margin-left: 15vw;
}

/* Hero */

.hero {
  min-height: calc(100vh - 5rem);
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.hero__heading {
  font-size: 6rem;
  background: -webkit-linear-gradient(right, #0039a6, #1f75fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.hero__sub-heading {
  font-size: 3rem;
  background: -webkit-linear-gradient(right, #0039a6, #1f75fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

/* About section */

.about-section {
  min-height: 100vh;
}

/* Image Carousel */
