/* Nav */

.nav {
  background-color: #f7f7f7;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 5rem;
  background-color: #ee204d;
}

.nav__links a:link,
.nav__links a:visited {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(1.4rem, 2rem, 3rem);
  text-decoration: none;
  color: #f7f7f7;
}

.nav__links li:not(:first-child) {
  margin-left: 15vw;
}

/* Hero */

.hero {
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.hero__heading {
  font-size: clamp(6vw, 8rem, 12vw);
  background: -webkit-linear-gradient(right, #0039a6, #1f75fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.hero__sub-heading {
  font-size: clamp(3vw, 4rem, 6vw);
  background: -webkit-linear-gradient(right, #0039a6, #1f75fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

/* About section */

.about-section {
  min-height: 100vh;
}

.about-section__heading {
  font-size: 5rem;
  text-align: center;
  background: -webkit-linear-gradient(right, #0039a6, #1f75fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4rem 0;
}

.about-section__content {
  margin: 0 auto;
  width: 80%;
  font-size: 2.4rem;
  line-height: 1.6;
}

/* Image Carousel */
